h1 {
  text-align: center;
  border-style:ridge;
  border-width: thick;
  border-color: darkred;
}
h2 {
  text-align: center;
  color:darkred;
  }

br {
  color: deepskyblue;
  font-weight: bolder;
}
